.App {
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
}

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hackathon-header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: left;
  padding-left: 7%;
  padding-top: 7%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-number {
  width: fit-content;
  margin: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 0.2rem;
  border-radius: 25px;
  background-color: #61dafb;
  color: #282c34;
}

.hackathon-text {
  font-size: x-large;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  /* border-radius: 25px;
  border: #61dafb 1px solid; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  text-align: center;
  justify-content: start;
}

.h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  justify-content: start;
}

.active-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40vw;
}

.completed-list {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.add-button {
  text-align: start;
  padding: 0.5rem;
  width: 60%;
  border:#282c34 3px dashed;
  border-radius: 8px;
  font-weight: bold;  
  color: #282c34;
  margin: 0.5rem;
}

.add-button:hover {
  background-color: #a6aebf;
}

.add-button:active {
  background-color: #282c34;
  color: #61dafb;
}


