.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hackathon-header {
  text-align: left;
  padding: 7%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hackathon-text {
  padding: 0.7rem;
  border-radius: 25px;
  border: #61dafb 1px solid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  text-align: center;
}
